*.pyc
*.log

*.py~
*.txt~

.idea/
project.egg-info/
build/
dist/
crawls/
data/
tmp/
prof/
.cache/
.pytest_cache/

.cache
.vagrant
.csv
.xls
.xlsx

venv/
venv2*/
venv3*/
venv_*/
*.icloud

.vscode/
workspace.code-workspace

**/.DS_Store
**/_DEP/
tempCodeRunnerFile.*
nohup.out
